li{
  list-style: none;
}
a{
  text-decoration: none;
}
button{
  background: #28863D;
  color: #fff;
  padding: .5rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}
button:hover{
  background-color: #2b793c;
}